# Python Basic Introduction

This notebook documents my initial learning of Python basics.
The goal is to understand fundamental syntax and simple operations.

In [5]:
print("Hello World!")
print("This is my first Python notebook on GitHub.")

Hello World!
This is my first Python notebook on GitHub.

## Variables

Variables are used to store data values in Python.

In [6]:
name = "Beginner"
age = 22

print("Name:", name)
print("Age:", age)

Name: Beginner
Age: 22

## Basic Data Types

Common data types in Python include:
- Integer
- Float
- String
- Boolean

In [7]:
number = 10
decimal = 3.14
text = "Python"
is_learning = True

print(type(number))
print(type(decimal))
print(type(text))
print(type(is_learning))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Simple Calculation

Basic arithmetic operations in Python.

In [8]:
a = 10
b = 5

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

## Conclusion

This notebook covers basic Python concepts such as printing, variables,
data types, and simple calculations. More advanced topics will be added
gradually as I continue learning.